* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.2%;
}

body {
  font-size: 1.6rem;
  font-family: 'Source Serif 4', serif;
  width: 100%;
  height: 100vh;

  background: #FEECE0;
  overflow: hidden;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.6rem;

  margin: 11rem 18rem 5.6rem 18rem;
}

picture img {
  width: 409px;
  height: 293px;
}

.top h1 {
  color: #58190A;
  font-size: 7.2rem;
  line-height: normal;
}

.top p {
  color: #58190A;
  font-size: 3.8rem;
  line-height: normal;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.buttons span, 
.buttons p{
  color: #9B6647;
  font-size: 3.5rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bottom {
  background: #9B6647;

  display: flex;
  justify-content: center;
  gap: 7rem;

  height: 100vh;
  padding: 6.4rem 5rem;
  color: #FEECE0;
}

.col1>div,
.col2>div {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3.5rem;
}

.col1 h1,
.col2 h1 {
  font-size: 3.8rem;
}

ul, ol {
  padding-left: 2.8rem;
}

li {
  font-size: 2.8rem;
}

